<div class="container"> 
    <h1>My Diary</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
          <h3>My Entries of the day</h3>
    <ul>
      <li *ngFor='let entry of Entries'>
          {{entry.completeDate|date}}<br><br>
        {{entry.id}} : {{entry.Title}}<br><br>{{entry.Description}}
        <br><br>
        <button (click)='delete()' class="btn btn-danger">Delete entry</button>
        <br><br>
      </li>
    </ul>
    </div>
    <div class="col-md-6">
     <app-form-entry  (addEntry)="addEntry($event)"></app-form-entry>
    </div>
    </div>
  </div>